<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/new" method="post"> <!--폼이 제출되면 "/members/new" URL로 POST 요청이 전송-->
        <div class="form-group">
            <label for="name">이름</label>
            <!--id 속성과 name 속성은 입력 필드의 식별자(Identifier)를 정의-->
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>