<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--Bootstrap CSS 프레임워크에서 사용하는 클래스 이름으로, HTML 요소를 컨테이너화하여 화면에 보여줍니다.-->
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <p>
            <!--"/members/new" URL로 이동할 수 있는 "회원 가입"이라는 링크를 화면에 표시-->
            <a href="/members/new">회원 가입</a>\
            <!--/members" URL로 이동할 수 있는 "회원 목록"이라는 링크를 화면에 표시-->
            <a href="/members">회원 목록</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>